.textarea {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 300px;
  resize: none;
}

.error_message {
  color: red;
  width: 300px;
  padding: 0;
  margin: 0;
}
